ul {
    margin: 0;
    padding: 0;
}
a {
    text-decoration: none;
}

.dropdown-menu {
    background: #252525;
}
.dropdown-item {
    color: #fff;
}
.dropdown-item:focus, 
.dropdown-item:hover {

}

.header {
    padding: 20px;
    background-color: rgba(41,41,41,.95);
}
.header-navbar {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
.header-navbar .navbar-top {
    width: 100%;
    height: 40px;
    margin-bottom: 10px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.header-navbar .navbar-menu {
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: flex-end;
}
.header-navbar .lang-wrap,
.header-navbar .currency-wrap {
    margin-right: 5px;
}
.header-navbar .lang-wrap .dropdown .btn-secondary, 
.header-navbar .currency-wrap .dropdown .btn-secondary {
    color: #f2f2f2;
    background-color: #333;
    border-color: #3f3f3f;
}

.header .logo {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.nav-menu ul.menu {
    margin:0;
    padding:0;
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    -webkit-box-orient:horizontal;
    -webkit-box-direction:normal;
    -ms-flex-direction:row;
    flex-direction:row;
    -webkit-box-pack:end;
    -ms-flex-pack:end;
    justify-content:flex-end;
    -webkit-box-align:end;
    -ms-flex-align:end;
    align-items:flex-end
}
.nav-menu ul.menu li {
    list-style:none;
    padding:7px 10px;
    -webkit-transition:var(--default-transition,all .2s ease-in-out);
    transition:var(--default-transition,all .2s ease-in-out);
    background:transparent
}
.nav-menu ul.menu li a {
    display:block;
    color:#c3c3c3;
    -webkit-transition:var(--default-transition,all .2s ease-in-out);
    transition:var(--default-transition,all .2s ease-in-out)
}
.nav-menu ul.menu > li:hover {
    background-color:#111
}
.nav-menu ul.menu > li:hover a {
    color:#fff;
    text-decoration: none;
}
.nav-menu .menu .dropdown-menu li:hover {
    background: #FFF;
}
.nav-menu .menu .dropdown-menu li:hover a {
    color: #252525;
}
.nav-menu ul.menu .dropdown-menu li {
    padding: 0;
}
.nav-menu .btn-secondary,
.nav-menu .btn-secondary:hover {
    color: #c3c3c3 !important;
    background-color: transparent !important;
    border-color: transparent !important;
    padding: 0 !important;
}
.nav-menu .btn-secondary:hover {
    color: #fff !important;
}
.nav-menu .btn-secondary:focus,
.nav-menu .btn-secondary:hover {
    outline: 0;
    box-shadow: none;
}
.header-social-links {
    display: flex;
}
.header-social-links:hover a {
    color: rgba(255, 255, 255, 0.2);
}
.header-social-links a {
    margin: 0;
    padding: 0 5px;
    width: auto;
    height: 100%;
    color: #fff;
    font-size: 2rem;
    text-decoration: none;
    -webkit-transition: color 300ms ease;
    transition: color 300ms ease;
}
.header-social-links a svg {
    width: 18px;
    height: 18px;
}
.header-social-links a:hover {
    text-decoration: none;
}

.header-social-links a:hover .icon-fb {
    color: #3b5998;
}

.header-social-links a:hover .icon-ig {
    color: #833ab4;
}

.header-social-links a:hover .icon-yt {
    color: #ff0000;
}

.header-social-links a:hover .icon-in {
    color: #0077b5;
}

.header-social-links a:hover .icon-tw {
    color: #1da1f2;
}

.header-social-links a:hover .icon-reddit {
    color: #ff4500;
}

.header-social-links a:hover .icon-pinterest {
    color: #e60023;
}